# Entornos virtuales
venv/

# Archivos de configuración y variables de entorno
.env

# Archivos de caché y compilación
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs
*.log
logs/

# Dependencias y paquetes
*.egg-info/
dist/
build/

# Archivos de configuración de IDEs
.python-version